* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.container {
	width: 960px;
	margin: 0 auto;
}

body {
	font-family: 'Lato';
	background-color: #1ABC9C;
	color: #BDC3C7;
	font-size: 100%;
}

header {
	color: #fff;
}

h1 {
	font-size: 400%;
}

header ul {
	list-style-type: none;
}

header ul li {
	display: inline;
}


section {
	width: 100%;
	background-color: #8E44AD;
	margin: 2.5% 0;
	padding: 0;
}

h3 {
	color: #34495E;
	margin-top: 2%;
}

h2 {
	color: #ECF0F1;
	margin-bottom: 2%;
	background-color: #D35400;
	padding: 1% 5%;
	width: 100%;
}

#container {
	margin: 0 auto;
	width: 960px;
}

#experience {
}

#objective h2, #objective p {
}

.experience-section {
}

section ul, p {
	margin-left: 5%;
	padding: 1%;
}